
.footer {
    &__btn {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: start;
        color: #fff;
        font-size: rem(14);
        font-weight: 500;
        white-space: nowrap;
        line-height: 250%;
        &::before {
            margin-left: rem(8);
            font-size: rem(10);
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(16);
        }
        @media (max-width: $mobileSmall) {
            justify-content: center;
        }
    }
}
