.button {
}
.show-more__btn {
    width: 100%;
    height: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
   
    color: $mainColor;
    &::before{
        margin-left: rem(8);
        color: $lightGrayColor;
    }
    @media (min-width: $mobile) {
        border-top: rem(1) solid $lightGrayColor;
        background: #f2f2f2;
    }
}
