.popup-request {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 66, 75, 0.85);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 50;

    &.open {
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
    }

    &.open &__content {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        position: relative;
        max-width: rem(720);
        width: 100%;
        background-color: #fff;
        border: rem(1) solid $lightGrayColor;
        padding-top: rem(70);
        padding-bottom: rem(70);
        @include adaptiv-value("padding-left", 70, 15, 1);
        @include adaptiv-value("padding-right", 70, 15, 1);
        margin: 0 rem(15);
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        text-align: right;
    }

    &__btn {
        display: block;
    }

    &__btn-close {
        position: absolute;
        @include adaptiv-value("top", 30, 10, 1);
        @include adaptiv-value("right", 30, 10, 1);
        cursor: pointer;
        background: none;
        padding: 0;
        width: rem(24);
        height: rem(24);
        display: inline-block;
        transition:
            transform 0.3s,
            opacity 0.3s;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.9);
            opacity: 0.8;
        }

        &::before {
            content: "";
            position: absolute;
            background: #d0d0d0;
            height: rem(11);
            width: rem(2);
            border-radius: rem(10);
            top: 50%;
            left: rem(15);
            transform: translateY(-50%);
            transform: translateY(-50%) rotate(45deg);
        }

        &::after {
            content: "";
            position: absolute;
            background: #d0d0d0;
            height: rem(11);
            width: rem(2);
            border-radius: rem(10);
            top: 50%;
            left: rem(15);
            transform: translateY(-50%);
            transform: translateY(-50%) rotate(-45deg);
        }
    }

    &__title {
        color: $blackColor;
        @include adaptiv-value("font-size", 41, 28, 1);
        font-weight: 700;
        line-height: normal;
        text-align: center;
        @include adaptiv-value("margin-bottom", 40, 45, 1);
        @media (max-width: $mobileSmall) {
            text-align: left;
        }
    }
    &__text {
        max-width: rem(411);
        text-align: center;
        line-height: 155%;
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: em(55, 16);
        }
        @media (max-width: $mobileSmall) {
            text-align: left;
        }
    }

    &__form {
    }
}

//==================================
