// ЗАГОЛОВКИ, ОБЩИЕ БЭМ БЛОКИ и прочее....

//<ОСНОВНОЙ БЛОК>===========================================
.page {
    // .page__team

    &__team {
        padding: rem(200) 0;
    }
    // .page__main

    &__main {
        @include adaptiv-value("padding-top", 305, 242, 1);
        padding-bottom: rem(157);
    }
    // .page__offer

    &__offer {
        @include adaptiv-value("padding-top", 227, 200, 1);
        padding-bottom: rem(250);
    }
    // .page__choose

    &__choose {
        margin-bottom: rem(145);
    }
    // .page__reviews

    &__reviews {
        margin-bottom: rem(250);
    }
    // .page__brands

    &__brands {
    }
    // .page__chance

    &__chance {
        padding-top: rem(251);
        @media (max-width: $mobile) {
            margin-bottom: rem(250);
        }
    }
    // .page__category

    &__category {
        @include adaptiv-value("padding-top", 250, 159, 1);
        padding-bottom: rem(250);
    }
    // .page__why

    &__why {
        padding-top: rem(230);
        padding-bottom: rem(250);
    }
    // .page__request

    &__request {
        @include adaptiv-value("padding-top", 250, 230, 1);
        padding-bottom: rem(250);
    }
    // .page__repair-top

    &__repair-top {
    }
    // .page__types

    &__types {
        padding: rem(250) 0;
    }
    // .page__choose-two

    &__choose-two {
        padding: rem(150) 0;
    }
    // .page__demand

    &__demand {
        padding: rem(250) 0;
        @media (max-width: $tablet) {
            @include adaptiv-value("padding-bottom", 650, 250, 1);
            margin-bottom: rem(150);
        }
    }
    // .page__nuances

    &__nuances {
        padding: rem(250) 0;
    }
    // .page__call

    &__call {
        padding: rem(250) 0;
    }
    // .page__choose-three

    &__choose-three {
        padding: rem(250) 0;
    }
    // .page__performs

    &__performs {
        padding: rem(250) 0;
        @media (max-width: $mobile) {
            padding-top: rem(250);
            @include adaptiv-value("padding-bottom", 1300, 480, 1);
            margin-bottom: rem(200);
        }
    }
    // .page__options

    &__options {
        padding: rem(250) 0;
    }
    // .page__standard

    &__standard {
        padding-top: rem(250);
        padding-bottom: rem(225);
        @media (max-width: $tablet) {
            @include adaptiv-value("padding-bottom", 700, 300, 1);
            margin-bottom: rem(200);
        }
    }
    // .page__typical

    &__typical {
        padding: rem(250) 0;
    }
    // .page__repair-gas

    &__repair-gas {
        @include adaptiv-value("padding-top", 368, 241, 1);
        padding-bottom: rem(250);
    }
    // .page__breakdowns

    &__breakdowns {
        padding: rem(250) 0;
    }
    // .page__day

    &__day {
        padding: rem(250) 0;
    }
    // .page__issues

    &__issues {
        padding: rem(250) 0;
    }
    // .page__brands-top

    &__brands-top {
        @include adaptiv-value("padding-top", 380, 241, 1);
        padding-bottom: rem(250);
    }
    // .page__serve

    &__serve {
        padding: rem(250) 0;
    }
       // .page__locations

       &__locations {
        padding-top: rem(300);
        padding-bottom: rem(166);
        @media (max-width: $tablet) {
            @include adaptiv-value("padding-bottom", 650, 250, 1);
            margin-bottom: rem(150);
        }
        @media (max-width: $mobile) {
            padding-top: rem(200);
        }
    }
}

//</ОСНОВНОЙ БЛОК>===========================================

//=============================================================
.title {
    color: $blackColor;
    @include adaptiv-value("font-size", 52, 41, 1);
    font-weight: 700;
    line-height: 120%;
    // .title_white

    &_white {
        color: #fff;
        @include adaptiv-value("font-size", 52, 41, 1);
        font-weight: 700;
        line-height: 120%;
    }
}
.footer-title {
    color: #fff;
    font-family: Inter;
    font-size: rem(18);
    font-weight: 600;
    line-height: 120%;
    white-space: nowrap;
    &:not(:last-child) {
        margin-bottom: em(70, 18);
    }
    @media (max-width: $mobileSmall) {
        font-size: rem(20);
    }
}
//=============================================================
