.footer {
    background-color: $sigBlackColor;
    overflow: hidden;
    // .footer__container

    &__container {
        @media (max-width: em(370)) {
            padding: 0 rem(15);
        }
    }
    &__top {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: rem(20);
        border-bottom: rem(1) solid #464646;
        @media (max-width: em(980)) {
            &::before,
            &::after {
                content: "";
                position: absolute;
                border-bottom: rem(1) solid #464646;
                width: 100%;
                bottom: rem(-1);
            }
            &::before {
                left: 100%;
            }
            &::after {
                right: 100%;
            }
        }
        @media (max-width: $mobileSmall) {
            justify-content: center;
        }
    }
    // .footer__logo

    &__logo {
        display: block;
    }
    &__social {
        display: flex;
        align-items: center;
        gap: rem(20);
        @media (max-width: $mobileSmall) {
            justify-content: center;
            margin-bottom: rem(50);
        }
    }
    // .footer__body

    &__body {
        padding: rem(100) 0;
    }

    // .footer__columns

    &__columns {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: rem(75);
    }

    // .footer__copy

    &__copy {
        position: relative;
        padding: rem(30) 0;
        color: #dadada;
        font-size: rem(11);
        line-height: normal;
        text-align: center;
        border-top: rem(1) solid #464646;
        @media (max-width: em(980)) {
            &::before,
            &::after {
                content: "";
                position: absolute;
                border-top: rem(1) solid #464646;
                width: 100%;
                top: rem(-1);
            }
            &::before {
                left: 100%;
            }
            &::after {
                right: 100%;
            }
        }
    }
}
.footer-logo {
}
.column-footer {
    // .column-footer__contact

    &__contact {
        flex: 1 1 rem(225);
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    // .column-footer__repair

    &__repair {
        flex: 1 1 rem(225);
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    // .column-footer__brands

    &__brands {
        flex: 1 1 rem(135);
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    // .column-footer__areas

    &__areas {
        flex: 1;
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }
}
.contact-column {
    // .contact-column__title

    &__title {
    }

    // .contact-column__schedule

    &__schedule {
        color: #dadada;
        font-size: rem(14);
        margin-bottom: rem(30);
        p {
            &:not(:last-child) {
                margin-bottom: rem(8);
            }
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(16);
        }
    }

    // .contact-column__phone

    &__phone {
        color: #dadada;
        font-size: rem(18);
        font-weight: 500;
        line-height: 155%;

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .contact-column__email

    &__email {
        display: block;
        color: #dadada;
        font-size: 14px;
        font-weight: 500;
        line-height: 155%;
        @media (max-width: $mobileSmall) {
            font-size: rem(16);
        }
        margin-bottom: rem(50);

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .contact-column__btn

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        max-width: rem(186);
        width: 100%;
        height: rem(40);
        color: #dadada;
        font-size: rem(14);
        line-height: normal;
        border: rem(1) solid rgba(255, 255, 255, 0.1);
        background: #464646;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $blueColor;
                color: #fff;
            }
        }
        &::before {
            font-size: rem(10);
            margin-left: rem(8);
        }
        @media (max-width: $mobileSmall) {
            max-width: rem(206);
            height: rem(50);
        }
        @media (max-width: $mobileSmall) {
            margin: 0 auto;
        }
    }
}

.repair-column {
    // .repair-column__title

    &__title {
    }

    // .repair-column__list

    &__list {
    }

    // .repair-column__item

    &__item {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .repair-column__link

    &__link {
    }
}
.repair {
    &__btn {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.brands-column {
    // .brands-column__title

    &__title {
    }

    // .brands-column__list

    &__list {
    }

    // .brands-column__item

    &__item {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .brands-column__link

    &__link {
    }
}
.brands {
    // .brands__btn

    &__btn {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.areas-column {
    // .areas-column__title

    &__title {
    }

    // .areas-column__list

    &__list {
    }

    // .areas-column__item

    &__item {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .areas-column__link

    &__link {
    }
}
.areas {
    // .areas__btn

    &__btn {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.column__list {
    color: #dadada;
    font-size: rem(14);
    line-height: 250%;
    @media (max-width: $mobileSmall) {
        font-size: rem(16);
    }
}
.social {
    &__item a img {
        width: rem(15);
        height: rem(15);
    }
}
