//=============================================================
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: background-color 0.3s ease 0s;
    z-index: 50;
    background-color: transparent;
    &._header-scroll {
        background-color: rgba(255, 255, 255, 0.8);
        @media (min-width: $mobile) {
            .header__top {
                display: none;
            }
        }
    }
    // .header__container

    &__container {
    }

    // .header__wrapper

    &__wrapper {
    }
    // .header__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(15);
        @include adaptiv-value("padding-top", 35, 30, 1);
        @include adaptiv-value("padding-bottom", 35, 30, 1);
    }
    // .header__logo

    &__logo {
    }
    // .header__phone

    &__phone {
        color: $blackColor;
        font-size: rem(20);
        font-weight: 600;
        line-height: normal;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 rem(39) 0 auto;
        &::before {
            color: $blueColor;
            margin-right: rem(15);
            font-size: rem(15);
        }
        @media (max-width: $mobile) {
            max-width: rem(315);
            width: 100%;
            height: rem(55);
            display: flex;
            align-items: center;
            justify-content: center;
            border: rem(1) solid #9e9e9e;
            margin: 0 auto rem(20) auto;
        }
    }
    &__service-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: rem(204);
        width: 100%;
        min-height: rem(50);
        color: #fff;
        font-weight: 500;
        background-color: $blueColor;
        line-height: normal;
        transition: all 0.3s ease 0s;
        &::before {
            margin-right: rem(12);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $mainColor;
                color: #dadada;
            }
        }
        @media (max-width: $mobile) {
            max-width: rem(315);
            margin: 0 auto;
        }
    }
    // .header__menu

    &__menu {
    }
}

.menu {
    // .menu__body

    &__body {
        @media (max-width: $mobile) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            transition: left 0.3s ease 0s;
            overflow: auto;
            background-color: #fff;
            gap: rem(30);
            @include adaptiv-value("padding-top", 180, 120, 1);
            padding-left: rem(15);
            padding-right: rem(15);
            padding-bottom: rem(30);
            &::before {
                content: "";
                position: fixed;
                width: 100%;
                @include adaptiv-value("height", 170, 72, 1);
                top: 0;
                left: -100%;
                background-color: #fff;
                z-index: 2;
                transition: left 0.3s ease 0s;
            }
            .menu-open & {
                left: 0;
                &::before {
                    left: 0;
                }
            }
        }
    }

    // .menu__list

    &__list {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: rem(100);
        }
        @media (max-width: $mobile) {
            margin-bottom: rem(100);
        }
    }

    // .menu__item

    &__item {
        position: relative;
        white-space: nowrap;
        text-align: center;
        color: $blackColor;
        font-weight: 600;
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    border-bottom: rem(4) solid $blueColor;
                }
            }
        }

        @media (min-width: $mobile) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: rem(-1);
            border-left: rem(0.5) solid $lightGrayColor;
            border-right: rem(0.5) solid $lightGrayColor;
            border-top: rem(1) solid $lightGrayColor;
            border-bottom: rem(1) solid $lightGrayColor;
            padding: rem(12);
            &::before {
                content: "";
                position: absolute;
                border-bottom: rem(4) solid transparent;
                left: 0;
                bottom: 0;
                width: 100%;
                transition: all 0.3s ease 0s;
            }
            &_1 {
                flex: 1 1 rem(175);
            }
            &_2 {
                flex: 1 1 rem(246);
            }
            &_3 {
                flex: 1 1 rem(169);
            }
            &_4 {
                flex: 1 1 rem(220);
            }
            &_5 {
                flex: 1 1 rem(175);
            }
            &_active {
                background-color: $blueColor;
                color: #fff;
            }
        }

        @media (max-width: $mobile) {
            max-width: rem(315);
            width: 100%;
        }
        &.active .spoller__list {
            display: grid;
        }
        &.active .spoller__title::before {
            transform: rotate(90deg);
        }
        @media (any-hover: hover) {
            &:hover {
                .spoller__list {
                    display: block;
                }
                .spoller__title::before {
                    transform: rotate(90deg);
                }
                &:focus {
                    .spoller__list {
                        display: block;
                    }
                }
                &:focus-within {
                    .spoller__list {
                        display: block;
                    }
                }
            }
        }
    }
}

.spoller {
    // .spoller__title

    &__title {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        &::before {
            font-size: rem(9);
            margin-left: rem(7);
            color: $mainColor;
            transition: transform 0.3s ease 0s;
        }

        @media (max-width: $mobile) {
            justify-content: center;
        }
    }

    &__list {
        display: none;
        color: $blackColor;
        font-size: rem(16);
        font-weight: 400;
        line-height: normal;
        z-index: 2;
        @media (min-width: $mobile) {
            position: absolute;
            border: rem(1) solid $lightGrayColor;
            background-color: #fff;
            left: rem(0);
            right: 0;
            top: 100%;
            z-index: 5;
        }
        @media (max-width: $mobile) {
            gap: rem(40);
            text-align: center;
            margin-top: rem(68);
        }
    }
    // .spoller__item

    &__item {
        color: $blackColor;
        line-height: normal;
    }
    // .spoller__link

    &__link {
        @media (min-width: $mobile) {
            display: block;
            width: 100%;
            padding: rem(13) rem(27);
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    border-top: 1px solid #9e9e9e;
                    border-bottom: 1px solid #9e9e9e;
                    background: #f2f2f2;
                }
            }
        }
    }
}

//=============================================================
// Burger

.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 5;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $blackColor;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        &.menu-open {
            span {
                transform: scale(0);
            }
            &::before {
                transform: rotate(-45deg);
                top: calc(50% - rem(1));
            }
            &::after {
                transform: rotate(45deg);
                bottom: calc(50% - rem(1));
            }
        }
    }
}
//=============================================================
