.main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    @media (max-width: $mobileSmall) {
        background-position: 75%;
    }
    // .main__container

    &__container {
        
    }

    // .main__body

    &__body {
        max-width: rem(500);
    }

    // .main__title

    &__title {
        color: $blackColor;
        @include adaptiv-value("font-size", 66, 56, 1);
        font-weight: 700;
        line-height: 120%;
        &:not(:last-child) {
            margin-bottom: em(40, 66);
        }
    }

    // .main__text

    &__text {
        max-width: rem(300);
        color: #464646;
        font-size: 18px;
        font-weight: 500;
        line-height: 155%;
        p {
            &:not(:last-child) {
                @include adaptiv-value("margin-bottom", 15, 10, 1);
            }
        }
        &:not(:last-child) {
            margin-bottom: em(60, 18);
        }
    }

    // .main__btn

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: rem(187);
        width: 100%;
        min-height: rem(50);
        background-color: $blueColor;
        color: #fff;
        font-weight: 600;
        line-height: normal;
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $mainColor;
            }
        }
    }
}
//=================================

.offer {
    // .offer__container

    &__container {
      
    }

    // .offer__top

    &__top {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: rem(20);
        margin-bottom: rem(100);
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: rem(60);
        }
    }

    // .offer__title

    &__title {
        flex: 0 1 rem(417);
        @media (max-width: $mobile) {
            flex: 1;
            text-align: center;
        }
    }

    // .offer__text

    &__text {
        flex: 0 1 rem(397);
        line-height: 155%;
        p {
            &:not(:last-child) {
                @include adaptiv-value("margin-bottom", 15, 10, 1);
            }
        }
        @media (max-width: $mobile) {
            flex: 1;
        }
    }

    // .offer__items

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__items-mob {
        display: grid;
        gap: rem(20);
    }
    // .offer__item

    &__item {
    }
}

.item-repair {
    position: relative;
    display: block;
    overflow: hidden;
    border: rem(1) solid rgba(158, 158, 158, 0.5);
    @media (min-width: $tablet) {
        &_2 {
            margin-top: rem(120);
        }
        &_3 {
            transform: translate(0, rem(-120));
        }
    }
    @media (max-width: $mobile) {
        display: none;
    }

    // .item-repair__images-ibg

    &__images-ibg {
        padding-bottom: prc(350, 490);
    }

    // .item-repair__body

    &__body {
        position: absolute;
        max-width: rem(240);
        width: 100%;
        height: 100%;
        @include adaptiv-value("top", 80, 5, 0);
        @include adaptiv-value("left", 50, 5, 0);
        &_3 {
            @include adaptiv-value("top", 30, 0, 0);
            @include adaptiv-value("left", 125, 5, 0);
            text-align: center;
        }
    }

    // .item-repair__title

    &__title {
        color: $blackColor;
        font-size: rem(29);
        font-weight: 700;
        line-height: 120%;
        &:not(:last-child) {
            margin-bottom: em(40, 29);
        }
    }

    // .item-repair__btn

    &__btn {
        max-width: rem(144);
        width: 100%;
        min-height: rem(40);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        color: $blackColor;
        font-size: rem(16);
        font-weight: 500;
        line-height: normal;
        border: rem(1) solid $mainColor;
        transition: all 0.3s ease 0s;
        &::before {
            font-size: rem(10);
            margin-left: rem(8);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $blueColor;
                color: #fff;
                border: rem(1) solid $blueColor;
            }
        }
        &_3 {
            margin: 0 auto;
        }
    }
}
.item-mob-repair {
    display: block;
    position: relative;
    overflow: hidden;
    border: rem(1) solid rgba(158, 158, 158, 0.5);
    @media (min-width: $mobile) {
        display: none;
    }

    // .item-repair__images-ibg

    &__images-ibg {
        padding-bottom: rem(460);
    }

    // .item-repair__body

    &__body {
        position: absolute;
        max-width: rem(240);
        width: 100%;
        height: 100%;
        top: rem(50);
        left: 50%;
        transform: translate(-50%, 0);
        &_4 {
            top: 30%;
        }
    }

    // .item-repair__title

    &__title {
        color: $blackColor;
        font-size: rem(29);
        font-weight: 700;
        line-height: 120%;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(40, 29);
        }
    }

    // .item-repair__btn

    &__btn {
        max-width: rem(144);
        width: 100%;
        min-height: rem(40);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        color: $blackColor;
        font-size: rem(16);
        font-weight: 500;
        line-height: normal;
        border: rem(1) solid $mainColor;
        transition: all 0.3s ease 0s;
        margin: 0 auto;
        &::before {
            font-size: rem(10);
            margin-left: rem(8);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $blueColor;
                color: #fff;
                border: rem(1) solid $blueColor;
            }
        }
    }
}
//=================================

.choose {
    // .choose__container

    &__container {
       
    }

    // .choose__body

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptiv-value("padding-top", 80, 10, 1);
        @include adaptiv-value("padding-bottom", 80, 10, 1);
        @include adaptiv-value("padding-left", 70, 10, 1);
        @include adaptiv-value("padding-right", 70, 10, 1);
        gap: rem(20);
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
            gap: rem(60);
            padding: rem(150) rem(30);
            margin-left: rem(-30);
            margin-right: rem(-30);
        }
        @media (max-width: em(370)) {
            margin-left: rem(-15);
            margin-right: rem(-15);
            padding: rem(150) rem(15);
        }
    }

    // .choose__left

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // .choose__title

    &__title {
        @media (min-width: $tablet) {
            max-width: rem(327);
        }
    }

    // .choose__btn

    &__btn {
        max-width: rem(336);
        min-height: rem(50);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        color: #fff;
        font-weight: 500;
        line-height: normal;
        border: rem(1) solid rgba(255, 255, 255, 0.1);
        background-color: #464646;
        transition: all 0.3s ease 0s;
        &::before {
            font-size: rem(10);
            margin-left: rem(15);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $blueColor;
                border: rem(1) solid $blueColor;
            }
        }
        @media (max-width: $mobileSmall) {
            margin: 0 auto;
        }
    }

    // .choose__right

    &__right {
    }

    // .choose__text

    &__text {
        color: #dadada;
        line-height: 155%;
        p {
            &:not(:last-child) {
                @include adaptiv-value("margin-bottom", 15, 10, 1);
            }
        }
        @media (min-width: $tablet) {
            max-width: rem(399);
        }
        @media (max-width: $tablet) {
            margin-bottom: em(70, 16);
        }
    }
}
//=================================

.reviews {
    // .reviews__container

    &__container {
      
    }

    // .reviews__slider

    &__slider {
        margin-bottom: rem(35);
        @media (max-width: $tablet) {
            margin-right: rem(-30);
        }
        @media (max-width: em(370)) {
            margin-right: rem(-15);
        }
    }

    // .reviews__swiper

    &__swiper {
    }

    // .reviews__slide

    &__slide {
        height: auto;
        padding-top: rem(34);
    }

    // .reviews__item

    &__item {
        background: #f4f4f4;
        @include adaptiv-value("padding-left", 35, 15, 1);
        @include adaptiv-value("padding-right", 35, 15, 1);
        @include adaptiv-value("padding-bottom", 35, 15, 1);
        height: 100%;
    }

    // .reviews__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    // .reviews__avatar

    &__avatar {
        margin-top: rem(-34);
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
        img {
            border-radius: 50%;
        }
    }

    // .reviews__name

    &__name {
        color: #000;
        font-size: rem(18);
        font-weight: 600;
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
    }

    // .reviews__date

    &__date {
        color: #464646;
        font-family: Inter;
        font-size: rem(14);
        font-weight: 400;
        line-height: 155%;
    }

    // .reviews__stars

    &__stars {
        color: #f6bb06;
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }

    // .reviews__text

    &__text {
        color: #000;
        font-family: Inter;
        font-size: rem(14);
        font-weight: 400;
        line-height: 155%;
        text-align: center;
        height: rem(100);
        overflow: auto;
        padding: rem(5) rem(14) rem(5) 0;
        &::-webkit-scrollbar {
            height: rem(10);
            width: rem(3);
            background: rgb(237, 238, 243);
        }
        &::-webkit-scrollbar-thumb {
            background: $lightGrayColor;
        }
    }

    // .reviews__controls

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(15);
    }

    // .reviews__arrow

    &__arrow {
        width: rem(40);
        height: rem(40);
        border-radius: 50%;
        border: rem(1) solid $lightGrayColor;
        // .reviews__arrow_left

        &_left {
        }

        // .reviews__arrow_right

        &_right {
        }
    }
}
.slader {
    // .slader__box

    &__box {
    }
}
.box-reviews {
}
//=================================

.brands {
    // .brands__slider

    &__slider {
    }

    // .brands__swiper

    &__swiper {
        transition-timing-function: linear;
    }

    // .brands__slide

    &__slide {
        width: auto;
    }

    // .brands__item

    &__item {
        img {
            @include adaptiv-value("width", 178, 103, 1);
            @include adaptiv-value("height", 45, 23, 1);
        }
    }
}
.slader {
    // .slader__box

    &__box {
    }
}
.box-brands {
    background-color: $gainsboroughColor;
    @include adaptiv-value("padding-top", 59, 30, 1);
    @include adaptiv-value("padding-bottom", 59, 30, 1);
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

//=================================
.team {
    background-repeat: no-repeat;
    background-color: #2e2e2e;

    // .team__container

    &__container {
    }
    &__body {
        max-width: rem(605);
        margin-left: auto;
    }
    // .team__title

    &__title {
        color: #fff;
        @include adaptiv-value("font-size", 52, 41, 1);
        font-weight: 700;
        line-height: 120%;
        @include adaptiv-value("margin-bottom", 70, 60, 1);
    }

    // .team__text

    &__text {
        color: #dadada;
        line-height: 155%;
        margin-bottom: rem(70);
    }

    // .team__btn

    &__btn {
        max-width: rem(214);
        width: 100%;
        min-height: rem(50);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        color: #dadada;
        line-height: normal;
        border: rem(1) solid rgba(255, 255, 255, 0.1);
        background-color: $mainColor;
        transition: all 0.3s ease 0s;
        &::before {
            font-size: rem(10);
            margin-left: rem(10);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $blueColor;
                color: #fff;
            }
        }
    }
}
